<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block styles %}
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/bootstrap.css')}}">
    {% endblock %}
    <title>The Grand Exchange Backtest</title>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/">Home</a>
        </li>
    </ul>
</nav>
<form action="/backtest" method="post">

    <label for="cash">Starting Cash</label><br>
    <input type="text" id="cash" name="cash"><br>

    <label for="from_date">From Date</label><br>
    <input type="text" id="from_date" name="from_date" value="2020-06-15"><br>

    <label for="to_date">To Date</label><br>
    <input type="text" id="to_date" name="to_date" value="2020-06-19"><br>

    <label for="stocks">Enter Stocks to Backtest On</label><br>
    <input type="text" id="stocks" name="stocks" value="IZEA,IDEX,XSPA,UONE"><br>

    <label for="strat">Strategy</label><br>
    <select name="strat" id="strat">
        <option value="bband_rsi_algo">RSI and BBands</option>
        <option value="hammer">Hammer</option>
        <option value="morningStar">MorningStar</option>
        <option value="senkouB">SenkouB</option>


    </select><br>

    <input type="submit" value="Run Backtest">

</form>


</body>
</html>