<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Grand Exchange Backtest</title>
</head>
<body>

<form action="/backtest" method="post">

    <label for="cash">Starting Cash</label><br>
    <input type="text" id="cash" name="cash"><br>

    <label for="from_date">From Date</label><br>
    <input type="text" id="from_date" name="from_date" value="2020-06-15"><br>

    <label for="to_date">To Date</label><br>
    <input type="text" id="to_date" name="to_date" value="2020-06-19"><br>

    <label for="stocks">Enter Stocks to Backtest On</label><br>
    <input type="text" id="stocks" name="stocks" value="IZEA,IDEX,XSPA,UONE"><br>

    <label for="strat">Strategy</label><br>
    <select name="strat" id="strat">
        <option value="bband_rsi_algo">RSI and BBands</option>
        <option value="hammer">Hammer</option>

    </select><br>

    <input type="submit" value="Run Backtest">

</form>


</body>
</html>