<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Grand Exchange Configuration</title>
</head>
<body>

<form action="/config" method="post">

  <label for="alpaca_key_id">ALPACA_KEY_ID:</label><br>
  <input type="text" id="alpaca_key_id" name="alpaca_key_id"><br>

  <label for="alpaca_secret_key">ALPACA_SECRET_KEY:</label><br>
  <input type="text" id="alpaca_secret_key" name="alpaca_secret_key"><br><br>

  <input type="submit" value="Set Values">
</form>


</body>
</html>