<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">
  {% block styles %}
  <link rel="stylesheet"
        href="{{url_for('static', filename='css/bootstrap.css')}}">
  {% endblock %}
  <script>
window.onload = function () {
var hammerChanges = {{hammerChanges|tojson}};

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title:{
		text: "Daily Algorithm Performance"
	},
	axisX: {
		valueFormatString: "HH"
	},
	axisY: {
		title: "Profit Per Share($)",
		includeZero: false,
		suffix: " $"
	},
	legend:{
		cursor: "pointer",
		fontSize: 16,
		itemclick: toggleDataSeries
	},
	toolTip:{
		shared: true
	},
	data: [{
		name: "HammerTime",
		type: "spline",
		yValueFormatString: "#0.##",
		showInLegend: true,
		dataPoints: updateChart({{hammerChanges|tojson}})
	},
	{
	    name: "MorningStar",
		type: "spline",
		yValueFormatString: "#0.##",
		showInLegend: true,
		dataPoints: updateChart({{morningStarChanges|tojson}})
	},
	{
	    name: "SenkouB",
		type: "spline",
		yValueFormatString: "#0.##",
		showInLegend: true,
		dataPoints: updateChart({{senkouBChanges|tojson}})
	}]
});

function updateChart(hammerChanges) {
    var dataPoints = [];
    console.log(hammerChanges)
	for (var i = 0; i < hammerChanges.length; i++) {
			var timestamp = hammerChanges[i][1];
			var d = new Date(); // The 0 there is the key, which sets the date to the epoch
            d.setTime(Date.parse(timestamp));
            //console.log(parseFloat(hammerChanges[i][0]))
			dataPoints.push({
				x: d,
				y:
					parseFloat(hammerChanges[i][0])
			});
	}
	return dataPoints
}

chart.render();

function toggleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else{
		e.dataSeries.visible = true;
	}
	chart.render();
}

}
</script>

  <style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}
</style>
</head>
  <body>
  <h1>The Grand Exchange</h1>
  <style>
    h1 {text-align: center;}
    </style>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#Results">Results</a>
    </li>
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#trades">Trades</a>
    </li>
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#Performance">Performance</a>
    </li>
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#Stocks">Stocks</a>
    </li>
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="/backtest">Backtest</a>
    </li>
  </ul>
</nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <h2> Paper Trading Results</h2>
        <a name="Results"></a>
        <div class="table-responsive">
          <thread>
            </thread><table style="text-align:center;">
          <thead>
          <tr>
            <th>Starting Cash</th>
            <th>Ending Cash</th>
            <th>Change in Cash</th>
            <th>Date</th>
            <th>Percent Change</th>
          </tr>
          </thead>
          <tbody>
          {% for item in results %}
          <TR>
            <TD class="c2">{{item.startCash}}</TD>
            <TD class="c3">{{item.endCash}}</TD>
            <TD class="c4"><SPAN>{{item.resultCash}}</SPAN></TD>
            <TD class="c5"><SPAN>{{item.date}}</SPAN></TD>
            <TD class="c5"><SPAN>{{item.percentChange}}</SPAN></TD>

          </TR>
          {% endfor %}
          </tbody></table>
      </div>
      <h2>Live Trades</h2>
        <a name="trades"></a>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>High</th>
              <th>Low</th>
              <th>Open</th>
              <th>close</th>
              <th>volume</th>
              <th>sharecount</th>
              <th>timestamp</th>
              <th>tradeType</th>
              <th>takeProfit</th>
              <th>takeLoss</th>
            </tr>
          </thead>
          <tbody>
            {% for item in trades %}
            <TR>
              <TD class="c1">{{item.symbol}}</TD>
              <TD class="c2">{{item.high}}</TD>
              <TD class="c3"><SPAN>{{item.low}}</SPAN></TD>
              <TD class="c4"><SPAN>{{item.open}}</SPAN></TD>
              <TD class="c5"><SPAN>{{item.close}}</SPAN></TD>
              <TD class="c6"><SPAN>{{item.volume}}</SPAN></TD>
              <TD class="c7"><SPAN>{{item.sharecount}}</SPAN></TD>
              <TD class="c8"><SPAN>{{item.timestamp}}</SPAN></TD>
              <TD class="c9"><SPAN>{{item.tradeType}}</SPAN></TD>
              <TD class="c10"><SPAN>{{item.takeProfit}}</SPAN></TD>
              <TD class="c11"><SPAN>{{item.takeLoss}}</SPAN></TD>
            </TR>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>

  <!-- Algorithm performance table -->

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <a name="Performance"></a>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="table-responsive">
            <thread>
              </thread><table class="table table-striped table-sm">
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

      <h2>Harvested Data</h2>
            <a name="Stocks"></a>
            <h3> Select a symbol to see it's movement.</h3>
            <form class="form-inline" method="POST" action="{{ url_for('dashboard') }}">
              <select name= "symbol" method="GET" action="/">
                {% for symbol in symbols %}
                <option value= "{{symbol}}" SELECTED>{{symbol}}</option>"
                {% endfor %}
              </select>
              <button type="submit" class="btn btn-default" onclick="">Go</button>
            </form>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Symbol</th>
              <th>Order Type</th>
              <th>Time in Force</th>
              <th>Quantity</th>
              <th>Mention</th>
              <th>Source</th>
            </tr>
          </thead>
          <tbody>
          {% for item in stonks %}
          <TR>
            <TD class="c2">{{item.symbol}}</TD>
            <TD class="c3">{{item.high}}</TD>
            <TD class="c4"><SPAN>{{item.low}}</SPAN></TD>
            <TD class="c5"><SPAN>{{item.open}}</SPAN></TD>
            <TD class="c5"><SPAN>{{item.close}}</SPAN></TD>
            <TD class="c5"><SPAN>{{item.volume}}</SPAN></TD>
            <TD class="c5"><SPAN>{{item.timestamp}}</SPAN></TD>

          </TR>
          {% endfor %}
          </tbody>
        </table>
    </div></div></div></main>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</body></html>